@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Crimson Text', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

.bg {
  background: url('assets/banner_image.jpg') no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: white;
}